body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
}

li{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 10vh;
}